
/*Field*/

html, body, #field {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#field:hover {
    cursor:url('../assets/golf-ball.png') 2 2, pointer;
}

#field {
    background-color: green;
}

/*Items*/

.grass {
    width:200px;
    height:200px;
    background-image:url('../assets/grass.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.hole {
    width: 50px;
    height: 50px;
    background-image:url('../assets/hole.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.positionHole {
    position: absolute;
    top: 230px;
    left: 200px;
}

.positionFlag {
    position: absolute;
    top: 200px;
    left: 200px;
}

.flag {
    position: absolute;
    top: 200px;
    left: 200px;
    width:70px;
    height:70px;
    background-image:url('../assets/flag2.png');
    background-repeat: no-repeat;
    background-size: 70px 70px;
}